body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.header {
    background-color: rgb(21, 21, 21);
    color: rgb(255, 255, 255);
    background-size: cover;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}

.footer {
    background-color: rgb(21, 21, 21);
    color: rgb(255, 255, 255);
    padding: 2% 0;
    margin-top: 1%;
    text-align: center;
}

.t1 {
    font-size: 20px;
}

.t3 {
    font-size: 20px;
    color: #393939;
    margin: 15px;
}

.t2 {
    font-size: 25px;
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: auto;
  }

/* ПАНЕЛЬ НАВИГАЦИИ */
.navbar {
    text-align: center;
}

/* Стили для пунктов навигации */
.navbar a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
  
  /* Стили для разделителей */
.navbar a:not(:last-child) {
    border-right: 1px solid black;
}
  
  /* Стили для состояния наведения */
.navbar a:hover {
    color: red;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.py-5 {
    padding-top: 3%;
    padding-bottom: 3%;
}

.name {
    font-family: "Martian Mono";
    color: #FFFFF0;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2;
    table-layout: fixed;
}

tr {
    vertical-align: top;
}

tr:first-child {
    margin-top: 5%; /* Задайте нужный вам отступ сверху */
}

th, td {
    box-sizing: border-box;
    border: 1px solid black;
    vertical-align: top; /* Добавьте это свойство для выравнивания текста по верхнему краю ячейки */
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e9e9e9;
}

.main {
    margin-left: 15%;
    margin-right: 15%;
}

.typeE {
    padding: 2%; 
    display: inline-block; 
    margin-top: 5%;
    margin-right: 8%;
    margin-bottom: 2%;
}

.btn {
    text-decoration: none;
    color: #ffffff; /* Цвет текста кнопки (белый) */
    font-weight: bold;
    background-color: rgb(31, 115, 240); /* Цвет фона кнопки (темно-серый) */
    padding: 1%;
    border: 5% solid #080808; /* Цвет границы кнопки (темно-серый) */
    border-radius: 20px;
}

.btn:hover {
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;
    color: rgb(255, 255, 255); /* Изменение цвета текста при наведении (темно-серый) */
    background-color: #181bd5; /* Изменение цвета фона при наведении (синий) */
    border-color:  #181bd5; /* Изменение цвета границы при наведении (синий) */
}

.contact-form {
    background-color: #e3e3e3;
    padding: 40px;
    border-radius: 40px;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
}

.form-field {
    margin-bottom: 25px;
}